:root {
    --primary-color-800: #173395;
    --primary-color-300: #95baff;
    --touch-color-300: #ff89bc;
    --secondary-color-500: #f1ece3;
    --secondary-color-300: #d2e1ff;
}
ul, li {
    padding:0px;
    margin: 0px;
}
h1 {
    margin: 0px;
    font-size: 32px;
    font-weight: 600;
}
h2 {
    margin: 0px;
    font-size: 26px;
    font-weight: 600;
}
body {
    color: var(--primary-color-800);
    font-family: "Poppins";
    font-size: 16px;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
.full-width-nav-container {
    width: 100%;
    background-color: #ffffff;
}
.content {
    display: flex;
    align-items: center;
    flex: 1;
    flex-direction: column;
    width: 100%;
}
.navigation {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 146px;
    max-width: 1680px;
    margin: auto;
}
.navigation__logo {
    width: 232px;
}
.navigation__menu {
    flex-grow: 1;
    margin-left: 70px;
}
.navigation__menu-list {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}
.navigation__menu-item {
    margin-right: 44px;
    font-size: 20px;
    font-weight: 500;
}
.navigation__menu-item a {
    color: var(--primary-color-800);
    text-decoration: none;
}
.navigation__menu-item a:hover {
    color: var(--touch-color-300);
}
.navigation__side {
    position: relative;
    width: 210px;
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}
.navigation__search-button {
    position: absolute;
    right: 0px;
    height: 30px;
    border: 0;
    background-color: #ffffff;
}
.navigation__search-field {
    border: 0px;
    border-bottom: 1px solid var(--primary-color-800);
    height: 30px;
    padding-right: 20px;
}
.navigation__search-field input[type='text']::placeholder {
    font-size: 14px;
    color: var(--primary-color-800);
}
.navigation__search-button-icon {
    display: inline-block;
    width: 12px;
    fill: var(--primary-color-800);
}
.navigation__bookmark {
    position: absolute;
    display: flex;
    align-items: center;
    padding-top: 14px;
    margin-left: -4px;
}
.navigation__bookmark-icon {
    display: inline-block;
    height: 15px;
}
.navigation__bookmark-link {
    margin-left: 5px;
    font-size: 12px;
    text-decoration: none;
    color: var(--primary-color-800);
}
.navigation__bookmark-link:hover {
    color: var(--touch-color-300);
}
.homepage-header {
    position: relative;
    display: flex;
    width: 100%;
    padding: 100px 0;
    background-color: var(--secondary-color-300);
}
.homepage-header__image {
    background-image: url(./assets/patricia.jpg);
    position: absolute;
    top: 0;
    width: 46.875%;
    height: 0;
    padding-bottom: 46.875%;
    background-position: center;
    background-size: cover;
    border-radius: 0px 50% 50% 50%;
}
.homepage-header__content {
    position: relative;
    margin: 127px 0px;
    margin-left: calc(46.8% + 130px);
}
.homepage-header__text {
    max-width: 630px;
    padding-right: 75px;
}
.button--trailing {
    position: absolute;
    bottom: -67px; 
}
.button {
    display: block;
    width: fit-content;
    min-width: 200px;
    padding: 10px 30px;
    margin-top: 27px;
    overflow: hidden;
    font-weight: 400;
    text-decoration: none;
    background-color: var(--touch-color-300);
    border: 2px solid var(--touch-color-300);
    color: #ffffff;
    font-size: 16px;
    border-radius: 40px;
    text-align: center !important;
}
.button-link {
    position: relative;
    padding-right: 40px;
}
.button::after {
    position: absolute;
    top: -15%;
    right: 15px;
    width: 9px;
    margin-top: 20px;
    content: url("https://overpalliatievezorg.nl/svg/chevron-right--white.svg?v=h_ZgKVpoq8y5pqjPhq53-iaU7RM");
}
.button:hover {
    background-color: transparent;
    color: var(--touch-color-300);
}
.content__body {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    max-width: 95%;
}
.content__body--foreground {
    z-index: 10;
}
.content__main--full-width {
    width: 100%;
    padding: 0;
    margin: 0;
}
.featured-content {
    display: flex;
    padding: 45px 50px;
    margin: 75px 0;
    border-radius: 0px 47px 0px 0px;
    background-color: var(--secondary-color-500);
}
.featured-content-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 29%;
}
.featured-content-item:nth-child(n+2) {
    margin-left: calc((100% - (3*29%)) / 2);
}
.button--small {
    width: fit-content;
    min-width: 132px;
}
.button--white {
    background-color: transparent;
    color: var(--primary-color-800);
    border-color: var(--primary-color-800);
}
.button--white:hover {
    background-color: var(--primary-color-800);
    border-color: var(--primary-color-800);
    color: #ffffff;
}
.homepage-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.homepage-search__button {
    flex: none;
    width: 54px;
    height: 54px;
    margin-right: 40px;
    background-color: transparent;
    border: none;
    fill: var(--primary-color-800);
}
.search-bar {
    position: relative;
    display: flex;
    align-items: center;
}
.search-bar--home {
    width: 92%;
}
.search-bar__input {
    padding: 0 0 5px;
    margin-top: -10px;
    font-size: 20px;
    line-height: 20px;
    color: var(--primary-color-300);
    width: 100%;
    border: none;
    border-bottom: 3px solid var(--primary-color-800);
}
.featured-page {
    display: flex;
    margin: 110px 0px;
}
.featured-page__media {
    flex: none;
    width: 528px;
    height: 528px;
    background-image: url(https://overpalliatievezorg.nl/getmedia/6b75c9ca-2a0c-4279-9775-73584102609e/praten-over-de-laatste-levensfase-home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 50% 50% 50%;
}
.breakout {
    width: 100%;
    margin-left: calc((1400px - 100vw));
    padding: 60px 30px 60px 40px;
}
.blue {
    background-color: var(--secondary-color-300);
}
.blue .featured-page__content {
    position: relative;
    margin: auto 0;
    margin-left: 7.5%;
}

.taupe {
    background-color: var(--secondary-color-500);
}
.image-left-text-right {
    display: flex;
    align-items: center;
    gap: 5%;
    border-top-left-radius: 47px;
    padding: 100px;
    margin-left: 20%;
}

.widget-image-container {
    background-image: url(https://overpalliatievezorg.nl/getmedia/804b9742-94e2-4878-a675-4e0d33fc0371/stervensfase.jpg);
    width: 60%;
    height: 528px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: calc(-40% - 100px);
    padding-right: calc(20% + 100px);
}
.widget-text-container {
    width: 60%;
}
.temp-spacer {
    width: 100%;
    height: 200px;
}
.button--transparent {
    display: block;
    width: fit-content;
    min-width: 200px;
    padding: 10px 30px;
    margin-top: 27px;
    overflow: hidden;
    font-weight: 400;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--primary-color-800);
    color: var(--primary-color-800);
    font-size: 16px;
    border-radius: 40px;
    text-align: center !important;
}
.button--transparent:hover {
    background-color: var(--primary-color-800);
    color: #ffffff;
}
.featured-subjects {
    display: flex;
    justify-content: space-between;
    margin: 95px 0 120px;
}
.featured-subjects__left {
    position: relative;
    margin-bottom: 67px;
    width: 25%;
    padding-top: 30px;
}
.heading--spaced {
    margin-bottom: 14px;
}
.featured-subjects__right {
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    width: 70%;
}
.featured-subject {
    width: 32%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: var(--primary-color-800);
    text-decoration: none;
    background-color: var(--secondary-color-500);
}
.featured-subject:first-of-type {
    border-radius: 30px 0px 0px 30px;
}
.featured-subject:last-of-type {
    border-radius: 0px 30px 30px 0px;
}

.featured-subject__link {
    text-decoration: none;
    color: var(--primary-color-800);
}
.featured-subject__image {
    display: block;
    width: 100%;
    height: 140px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.featured-subject__text {
    display: block;
    padding-bottom: 5px;
    margin: 20px 20px 15px;
    overflow: hidden;
}
.heading--tiny {
    font-size: 14px;
    line-height: 1.5;
}
.text--small {
    font-size: 14px;
}
.button--read-more {
    font-size: 14px;
    min-width: 100px;
    padding: 0;
    padding-right: 40px;
    margin-top: 10px;
    text-align: left;
    color: var(--touch-color-300);
    position: relative;
}
.button--read-more::after {
    position: absolute;
    content: ">";
    right: 15px;
    margin-top: 4px;
}
.button--read-more:hover {
    color: var(--primary-color-800);
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 65px 0 25px;
    background-color: var(--secondary-color-500);
    border-top: 10px solid var(--touch-color-300);
}
.footer__body {
    width: 1400px;
    max-width: 80%;
}
.footer-columns {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-columns__column {
    width: 25%;
}
.heading {
    display: block;
    margin: 0;
    font-size: 26px;
    font-weight: 600;
    line-height: 1.35;
}
.footer-list {
    padding: 0;
    margin: 0;
}
.footer-list__item {
    padding-right: 70px;
    margin-top: 5px;
    list-style: none;
}
.footer-link {
    text-decoration: none;
}
.footer-link:hover {
    color: var(--touch-color-300);
}
.footer-text,
.footer-link {
    color: var(--primary-color-800);
    font-size: 14px;
}
.footer-columns__column:nth-child(n+2) {
    padding-left: 5%;
}
.footer_columns__column--dynamic {
    flex: 1;
}
.footer-logo {
    width: 100%;
}
.footer-columns__column--broad {
    box-sizing: content-box;
}
.footer-columns+.footer-columns {
    padding-top: 35px;
    margin-top: 35px;
    border-top: 3px solid #ffffff;
}
.footer-list--horizontal {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
}